---
import Hero from "../components/Hero.astro";
import TextImgInline from "../components/modules/TextImgInline.astro";
import BaseLayout from "../layouts/BaseLayout.astro";
import ButtonFilled from "../components/atoms/ButtonFilled.astro";

import data from '../content/pages/coulisses.json'

const {url, title, background, firstSectionTitle, firstSectionContent, sections, HeroContent} = data
---

<BaseLayout title="Les Animaux du Futur | Coulisses" description="Découvrez comment la magie opère lors des ateliers !">
  <Hero title={title} imgUrl={`/${background}`} text={HeroContent ?? ""}/>
  <!-- container de la partie projet et de la partie des modules -->
  <section >
    <!-- Première partie "Les coulisses avec le premier texte" -->
    <div class="container">
      <h1 set:html={firstSectionTitle}/>
      <div class="container_coulisse">
        <p set:html={firstSectionContent}/>
      </div>
    </div>
    {sections.map(({section}, index) => (

      <TextImgInline
        title={section.title}
        texts={[section.content]}
        imgUrl={`/${section.image}`}
        reverse={index % 2 === 1 ? true : false}
        btn={section.btnText ? {
          text: section.btnText,
          withArrow: true,
          link: section.btnLink
        }: undefined}
      />
    ))}

    <!--partie 4 -->
    <div class="container_part4">

    <!--dernière partie "la suite" composé du titre, texte et bouton contact -->
    <div class="container">
      <div>
        <h2>LA SUITE ?</h2>
        <p class="text_contact">
          En attendant la création d’un roman graphique transmédias physique et
          digital, mais aussi peut-être des expositions dans des muséums
          d’histoires naturelles… Ce projet à destination de publics scolaires,
          périscolaires et post-bac va perdurer dans le temps car il reste
          encore une multitude d’espèces à découvrir dans les différents biomes.
        </p>
      </div>
    </div>
    <div class="container">
      <div class="bloc6">
        <div class="text_contact">
          <p>
            <h2>Une question ? </h2>
            Puis, chaque espèce est répertoriée dans le bestiaire digital, qui
            va grandir au fil des années et des interventions. Cet espace est
            accessible à travers l’exposition et les cartes postales grâce à un
            QR code qui restera inchangé pendant toute la vie du projet.<br />
            Cela permettra aux nouveaux explorateurs comme aux plus anciens de suivre
            la suite de l’aventure.
          </p>
        </div>
        <div class="btn_contact">
        <ButtonFilled href="/contact">Nous contacter</ButtonFilled>
        </div>
      </div>
    </div>
  </section>

  <style lang="scss">
    //configuration du container
    h1 {
      text-align: left;
    }
    .container {

      .container_coulisse {
        margin: 64px 0;
      }
      .container1 {
        display: flex;
        justify-content: center;
        flex-direction: column;

        .text_container {
          p {
            padding: 18px 0;
          }
        }
        .img_container {
          img {
            width: 100%;
          }
        }
      }
    }
      .container2 {
        padding: 64px 0;
        display: flex;
        justify-content: center;
        flex-direction: column;
        .text_container2 {
          p {
            padding: 18px 0;
          }
        }
        .img_container2 {
          img {
            width: 100%;
          }
        }
      }
      .text_contact{
            max-width: 645px;
        }
      .bloc7{
        margin-top: 64px;
      }
      .bloc6{
          display: flex;
          flex-direction: row;
          align-items: center;
          justify-content: space-between;
          flex-wrap: wrap;
          margin-top: 64px;
          .btn_contact{
            margin-left: 16px;
          }
      }

  </style>
</BaseLayout>
