---
import BaseLayout from "../../layouts/BaseLayout.astro";
import { getSpecies } from "../../functions";

export function getStaticPaths() {
  const { species } = getSpecies();
  return species.map((_, index) => {
    return {
      params: { id: index },
    };
  });
}

const { species } = getSpecies();
const { id } = Astro.params;
const specie = species[id];

const name = specie.name;
const description = specie.EvolutionDescripption;
const biome = specie.biome;
const height = specie.height;
const life = specie.life;
const weight = specie.weight;
const image = specie.speciesImage;
---

<BaseLayout>
    <section class="container">
      <ul class="data-container"></ul>
      <div class="container-title">
          <h1 class="title">{name}</h1>
      </div>
      <div class="content">
          <div class="left-content">
              <h2 class="id">#00{parseInt(specie.id)}</h2>
              <img src={image} alt="">
              <div class="infos">
                  <h4 class="expedition">Expedition: #1</h4>
                  <h4 class="explorateur">Exploratrice: Angela</h4>
              </div>
          </div>
          <div class="right-content">
              <h4>Description :</h4>
              <p class="description">{description}</p>
              <div class="caracteristiques">
                  <div class="left-side">
                      <div class="block-infos biome">
                          <div class="img">
                              <img src="/assets/images/Icon-animal-biome.svg" alt="">
                          </div>
                          <div class="title-infos">
                              <h4>Biome:</h4>
                              <h4>{biome}</h4>
                          </div>
                      </div>
                      <div class="block-infos poids">
                          <div class="img">
                              <img src="/assets/images/Icon-animal-poids.svg" alt="">
                          </div>
                          <div class="title-infos">
                              <h4>Poids:</h4>
                              <h4>{weight}</h4>
                          </div>
                      </div>
                      <div class="block-infos taille">
                          <div class="img">
                              <img src="/assets/images/Icon-animal-taille.svg" alt="">
                          </div>
                          <div class="title-infos">
                              <h4>Taille:</h4>
                              <h4>{height}</h4>
                          </div>
                      </div>
                  </div>
                  <div class="right-side">
                      <div class="block-infos régime">
                          <div class="img">
                              <img src="/assets/images/Icon-animal-regime.svg" alt="">
                          </div>
                          <div class="title-infos">
                              <h4>Régime:</h4>
                              <h4>{weight}</h4>
                          </div>
                      </div>
                      <div class="block-infos longévité">
                          <div class="img">
                              <img src="/assets/images/Icon-animal-longevite.svg" alt="">
                          </div>
                          <div class="title-infos">
                              <h4>Longévité:</h4>
                              <h4>{life}</h4>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
    </section>
  </BaseLayout>
  
  <style lang="scss">
      * {
          margin: 0;
      }
      .container {
          display: flex;
          flex-direction: column;
          align-items: center;
          .data-container {
              display: none;
          }
          .content {
              display: grid;
              grid-template-columns: repeat(2, 1fr);
              grid-column-gap: 8rem;
              margin-top: 4rem;
              @media screen and (max-width: 768px) {
              grid-template-columns: repeat(1, 1fr);
              }
              .left-content {
                  display: flex;
                  flex-direction: column;
                  gap: 1rem;
                  img {
                      width: 100%;
                  }
                  .infos {
                      display: flex;
                      flex-direction: column;
                      gap: 0.5rem;
                  }
              }
              .right-content {
                      display: flex;
                      flex-direction: column;
                      gap: 1rem;
                  .caracteristiques {
                      display: grid;
                      grid-template-columns: repeat(2, 1fr);
                      grid-column-gap: 2rem;
                      align-items: center;
                      margin-top: 1rem;
                      .left-side {
                          display: flex;
                          flex-direction: column;
                          gap: 1.5rem;
                          .block-infos {
                              display: flex;
                              align-items: center;
                              
                              gap: 0.5rem;
                          }
                          img {
                              width: 4rem;
                              height: 4rem;
                          }
                      }
                      .right-side {
                          display: flex;
                          flex-direction: column;
                          gap: 1.5rem;
                          .block-infos {
                              display: flex;
                              align-items: center;
                              gap: 0.5rem;
                          }
                          img {
                              width: 4rem;
                              height: 4rem;
                          }
                      }
                  }
              }
          }
      }
  </style>